.color-1 {
  color: $primary-color;
}
.color-2 {
  color: $primary2-color;
}
.main-menu.menu-light .navigation li {
  &.open {
    border-left: 4px solid $primary2-color;
  }
  &.active {
    border-left: 4px solid $primary2-color;
    a {
      color: $primary2-color;
    }
  }
}
// Link
a {
  color: $primary-color;
  &:hover {
    color: $primary2-color;
  }
}

// Button
// .btn-primary {
//   border-color: $primary-ligthen-color !important;
//   background-color: $primary-color !important;
//   color: #FFFFFF;
//   &:hover {
//     background-color: $primary-ligthen-color !important;
//   }
// }

.bootstrap-datetimepicker-widget {
  z-index: 9999;
}

.pagination {
  justify-content: center;
}
.page-item.disabled .page-link {
  color:#DDDDDD;
  pointer-events: none;
  cursor: auto;
  background-color: #fff;
  border-color: #DDDDDD;
}

.content-header-title {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb-item {
  max-width: 400px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.grey {
  color: #a5a5a5 !important;
  .badge-secondary {
    background-color: #a5a5a5 !important;
  }
}