// Variables
@import 'variables';
@import 'customTheme';
@import 'button';
@import 'card';
@import 'select2';

.img-fluid {
  width: 100%;
}
.input-group {
  .input-group-append {
    .input-group-btn {
      .btn {
        border-radius: 0 0.4em 0.4em 0 !important;
      }
    }
  }
}

.min-width-100 {
  min-width: 100px;
}
.min-width-150 {
  min-width: 150px;
}
.min-width-200 {
  min-width: 200px;
}
.min-width-250 {
  min-width: 250px;
}

// Bootstrap
// @import '~bootstrap/scss/bootstrap';

